ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Aller;
  src: url(../fonts/aller.light.ttf);
}
@font-face {
  font-family: STHeitiSC;
  src: url(../fonts/helveticaneuecyr-medium.otf);
}

/* --------------------------HEADER*/
.navbar {
  position: static;
  min-height: auto;
  margin-bottom: auto;
  border: 0 ;

}
.navbar {
  border-radius: 0;
  height: 45px;
}

/*Logotip*/
.logos {
  position: relative;
  bottom: 5px;
}

/*FORMA*/
.form__1 {
  position: relative;
  left: 50px;
  top: -3px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.navbar-form input[type="text"] {
  font-family: 'Aller', sans-serif;
  padding: 8px 20px;
  outline: none;
  border: none;
  width: 76%;
  background: none;
  font-size: 1em;
  color: #333333;
}
.navbar-form input[type="text"]:focus, .navbar-form input[type="text"]:hover, .navbar-form input[type="text"]:active {
  background: white;
}
.navbar-form input[type="submit"] {
  background: url(../img/search.png) no-repeat 0 4px;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.navbar-form input[type="submit"]:focus {
  border: none !important;
  border-color: #222222;
  padding: 0;
  outline-offset: initial;
}
.registry {
  padding: 2px 16px;
  border-left: 1px solid rgb(60, 60, 60);
  border-right: 1px solid rgb(60, 60, 60);
  padding-right: 40px;
  position: relative;
  left: 24px;
}
.registry__ul {
  margin-left: 8px;
  padding-left: 0;
  margin-top: 9px;
  margin-right: -17px;
}
.registry__item {
  list-style-type: none;
  display: inline;
  font-size: 14px;
  font-family: "Aller";
  color: rgb(126, 126, 126);
  letter-spacing: 0.6px;
}
.registry__item .link {
  text-transform: uppercase;
  color: rgb(126, 126, 126);
  text-decoration: none;
}
.registry__item .link:hover {
  color: white;
}

/* --------------------------MENU*/
.mains {
  height: 66px;
}
/*menu right*/
.menu {
  position: relative;
  left: -40px;
  top: -5px;
}
.menu__item {
  float: left;
  border-left: 1px solid rgb(226, 226, 226);
  list-style-type: none;
  margin-right: 6px;
  height: 66px
}
.menu__item:nth-child(6) {
  border-right: 1px solid rgb(226, 226, 226);
}
.menu__item a {
  display: block;
  padding: 25px 30px;
  font-size: 16px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  text-transform: capitalize;
  -webkit-text-stroke: 0.2px;
  transition: all 0.3s ease-in-out;
}

.menu__item a:hover {
  text-decoration: none;
  color: rgb(87, 197, 160);

}
.menu__item .active__link {
  color: rgb(87, 197, 160);
}
/*menu left*/
.menu__left {
  position: relative;
  bottom: 5px;
  left: 24px;
}
.menu__left__item {
  display: inline-block;
  list-style-type: none;
  margin-left: 1px;
}
.menu__left__item:nth-child(2) a {
  border-right: 1px solid rgb(226, 226, 226);
}
.menu__left__item__link {
  display: block;
  line-height: 1.8em;
  font-size: 1em;
  color: #ffffff;
  padding: 20px 26px;
  border-left: 1px solid rgb(226, 226, 226);
  height: 66px;
}
.menu__left__item__link:hover, .menu__left__item__link:active, .menu__left__item__link:focus {
  text-decoration: none;
  color: white;
}
.menu__left__item__link span {
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.menu__left i {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}
.menu__left .star {
  background: url(../img/art.png) no-repeat 4px 8px;
}
.menu__left .basket {
  background: url(../img/cart.png) no-repeat 4px 8px;
}
span.rank {
  background: #999999;
}
span.order {
  background: #57C5A0;
}
/* --------------------------TOP*/
.banner {
  background-image: url('../img/img.png');
  height: 460px;
  background-size: 122% 100%;
  background-position: 54%;
}
@media screen and (min-width: 1700px) {
  .banner {
    background-image: url('../img/img.png');
    height: 460px;
    background-size: 133em 100%;
    background-position: 54%;
    background-repeat: no-repeat;
    background-color: #f0ece9;
  }
}

/* left top */
.Item__Details {
  width: 389px;
  margin-left: 43em;
  margin-top: 6em;
}
.Price {
  width: 68px;
}
.Price span {
  font-size: 15px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: #57C5A0;
  padding: 24px 12px 24px;
  height: 67px;
  position: relative;
  left: 4px;
  top: 10px;
}
.Desc {
  margin-top: 45px;
}
.Desc__Zagolovok {
  font-size: 40px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1;
  text-align: left;
  width: 318px;
  letter-spacing: 3.3px;
  margin-left: 3px;
  margin-bottom: 9px;
}
.Desc__Zagolovok__int {
  font-size: 40px !important;
  top: 4px;
  left: -17px;
}
.Desc__Zagolovok .Desc__Zagolovok__coll {
  position: absolute;
  left: 124px;
  font-size: 40px;
  letter-spacing: 3.4px;
}
.Desc__Zagolovok span {
  font-size: 38px;
  letter-spacing: 6px;
  position: relative;
}
.Desc__Discription {
  font-size: 20px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.25;
  text-align: left;
  left: 2px;
  position: relative;
  top: -2px;
  letter-spacing: 2px;
  width: 552px !important;
}
.Desc__Discription span {
  letter-spacing: 1.8px;
}

.Action__Menu {
  position: relative;
  top: 6px;
  left: -36px;
}
.Action__Menu__item {
  list-style-type: none;
  display: inline-block;
}
.Action__Menu__link i {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 6px;
}
.Action__Menu__link .star {
  background: url(../img/art.png) no-repeat 4px 8px;
}
.Action__Menu__link .eye {
  background: url(../img/eye.png) no-repeat 4px 8px;
  top: 3px;
  left: 8px;
}
.Action__Menu__link .share {
  background: url(../img/share.png) no-repeat 4px 8px;
}
.Action__Menu__link .buy {
  background: url(../img/cart1.png) no-repeat 4px 8px;
}
.Action__Menu__link {
  padding: 10px 10px 12px 4px;
  background: #ffffff;
}

/* --------------------------BREND*/
.brend {
  background-color: #2e2e2e;
  top: 94px;
  position: relative;
  height: 92px;
}
/*line*/
.line {
  background: #000000;
  height: 10px;
  top: 6px;
  position: relative;
  width: 98%;
}
.col-lg-2.under__ceroi, .brn {
  width: 20% !important;
}
.under__ceroi .under__ceroi__first {
  background-color: #57c5a0;
  height: 6px;
  width: 215px;;
  margin-left: 9px;
}
.under__ceroi span {
  display: block;
  margin: 0 auto;
  border-right: 2px solid #2e2e2e;
  height: 6px;
  top: 2px;
  position: relative;
  margin-right: -30px;
}
.under__ceroi span.last {
  border-right: 0;
}
/*brend*/
.brend__menu {
  width: 1187px;
}
.brend__text {
  margin-top: 18px;
}
.brn {
  letter-spacing: 2px;
}
.brend__br {
  font-size: 18px;
  font-family: "Aller";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.389;
  -webkit-text-stroke: 1px;
}
.brend__br span {
  font-size: 12px;
  font-family: "Aller";
  color: rgba(173, 173, 173, 0.502);
  line-height: 2.083;
  position: absolute;
  left: 62px;
  top: 19px;
}
.first {
  color: #ffffff;
  left: 15px;
  position: relative;
}
.first span {
  left: 51px;
  letter-spacing: 1.6px;
}
.second {
  left: 4px;
  position: relative;
}
.second span {
  left: 51px;
  letter-spacing: 1.6px;
}
.three {
  left: -9px;
  position: relative;
}
.three span {
  left: 42px;
  letter-spacing: 1.6px;
}
.fourth {
  left: -21px;
  position: relative;
}
.fourth span {
  left: 40px;
  letter-spacing: 1.6px;
}
.five {
  left: -35px;
  position: relative;
}
.five span {
  left: 57px;
  letter-spacing: 1.6px;
}
span.under__ceroi__three {
  margin-right: -14px;
}
span.under__ceroi__second {
  margin-right: -20px;
}
span.under__ceroi__fourth {
  margin-right: -6px;
}
/* --------------------------SPECIALS*/
.SPECIALS {
  background-color: #242424;
  height: 228px;
  padding-top: 24px;
  margin-top: 92px;
}
.image {
  margin-left: -12px;
}
.SPECIALS__images__first {
  width: 355px;
  height: 179px;
}
.SPECIALS__images__second {
  width: 355px;
  height: 179px;
  margin-left: -11px;
}
.SPECIALS__images__last {
  width: 355px;
  height: 179px;
  margin-left: -21px;
}
span.SPECIALS__text {
  background-color: rgba(36, 36, 36, 0.902);
  position: absolute;
  top: 58px;
  left: 87px;
  letter-spacing: 2.79px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.SPECIALS__text {
  font-size: 25px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.4;
  text-align: center;
  padding: 0px 50px;
}
.SPECIALS__text.second {
  padding: 0px 28px;
  left: 47px;
  letter-spacing: 2.4px;
}
.SPECIALS__text.last {
  left: 65px;
  padding: 0px 32px;
}
span.SPECIALS__text:hover {
  background: rgba(0, 0, 0, 0.61);
}
/* --------------------------window*/
.window {
  background-color: #ebe7df;
  padding-top: 15px;
  padding-bottom: 50px;
}
.text {
  font-size: 25px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 2.4;
  text-align: left;
  letter-spacing: 2.2px;
  position: relative;
  left: 14px;
}
.dutton {
  font-size: 14px;
  font-family: "Aller";
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 18px;
  left: -52px;
}
.dutton a {
  text-transform: capitalize;
  padding: 6px 20px;
  color: rgb(188, 181, 167);
  border: 1px solid #BCB4A7;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.dutton a:hover {
  color: rgb(255, 255, 255);
  background: rgb(188, 180, 167);
}
.im1 {
  width: 356px;
  height: 221px;
}
.Sale_badge {
  position: absolute;
  z-index: 100;
  right: 43px;
  width: 78px;
  height: 67px;
}
.Prices {
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 67px;
  z-index: 1000;
  left: 31px;
}
.Stock_badge {
  position: absolute;
  z-index: 100;
  right: 53px;
  width: 79px;
  height: 66px;
}
.second1 {
  height: 270px;
  left: -7px;
  position: relative;
}
.last1 {
  height: 270px;
  left: -20px;
  position: relative;
}
.first2 {
  width: 356px;
  height: 49px;
}
.price2 .Action__Menu {
  left: 87px;
  top: 8px;
}
.window__buttom {
  position: relative;
  top: 21px;
  margin-bottom: 25px;
}
.window__buttom .dutton {
  top: 21px;
}
.price2 {
  height: 49px;
  background-color: #fff;
  width: 356px;
  border-top: 1px solid #d2d2d2;
}

/* --------------------------ADDON*/
.dash {
  border-top: 0.1px solid #bcb5a7;
  margin-top: 47px;
  width: 98%;
}
.ADDON {
  width: 98%;
  position: relative;
  left: 15px;
  top: 26px;
}
.topic {
  background: #DFDBD4;
  padding: 2%;
  padding-top: 10px;
  padding-left: 18px;
  height: 184px;
}
.header {
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
  -webkit-text-stroke: 0.3px;
}
.topic2 .header {
  letter-spacing: 1.5px;
}
.plaintext {
  font-size: 12px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.334;
  text-align: left;
  letter-spacing: 1.1px;
  top: -2px;
  position: relative;
}
.topic1 .plaintext {
  letter-spacing: 1.3px;
  left: 2px;
}
.author {
  font-style: italic;
}
.topic1, .topic2 {
  width: 262px;
  margin-right: 22px;
}
.topic2 {
  padding-left: 20px;
}
.topic2 .author {
  margin-top: -8px;
  margin-left: 2px;
  margin-bottom: 0;
}
.topic3 {
  position: absolute;
  right: 0;
  padding-left: 22px;
  width: 49%;
}
.header__topic1{
  font-size: 14px;
  font-family: "Aller";
  color: rgb(36, 36, 36);
  line-height: 1.143;
  text-align: left;
  top: 8px;
  right: 27px;
  position: absolute;
  letter-spacing: 0.2px;
  width: 85%;

}
.header__topic {
  font-weight: bold;
  letter-spacing: 1.4px;
  -webkit-text-stroke: 0.3px;
}
.date {
  font-size: 10px;
  font-family: "Aller";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  background-color: #57c5a0;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 9px;
  top: 5px;
  position: relative;
  left: -1px;
  letter-spacing: 0.4px;
  padding-left: 10px;
}
.dt2 {
  top: 10px;
}
.ht1 {
  top: 13px;
}
/* --------------------------FOOTER*/
footer {
  background-color: #242424;
  height: 246px;
  padding-top: 29px;
}
.footer__header {
  font-size: 14px;
  font-family: "Aller";
  color: rgb(125, 125, 125);
  line-height: 1.286;
  text-align: left;
  -webkit-text-stroke: 0.3px;
  letter-spacing: 1.4px;
}
.footer__text {
  font-size: 12px;
  font-family: "Aller";
  color: rgb(164, 164, 164);
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.4px;
  width: 332px;
  position: relative;
  top: 6px;
}
.footer__text span {
  color: #57c5a0;
}
.f1 {
  padding-left: 67px;
}
.f2 {
  padding-left: 36px;
}
.f3 {
  padding-left: 13px;
}
.footer__2 {
  letter-spacing: 0.9px;
}
.footer__3 {
  letter-spacing: 1.1px;
}
.footer__4 {
  letter-spacing: 1.2px;
}
.footer__5 {
  letter-spacing: 2px;
}
.footer__6 {
  letter-spacing: 1px;
}
.footer__7 {
  letter-spacing: 1px;
}
.footer__8 {
  letter-spacing: 0.9px;
}
.footer__10 {
  margin-top: -4px;
}
.footer__11 {
  letter-spacing: 1.1px;
}
.footer__12 {
  letter-spacing: 0.8px;
}
footer img {
  top: 7px;
  position: relative;
  width: 100%;
}
.footer___header_item {
  float: left;
  width: 29.3333%;
  margin: 0px 14px 10px 0px;
}
ul li.footer___header_item {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer___header_link {
  display: block;
  transition: all 0.3s ease-in-out;
}

/* --------------------------FOOTER1*/
.footer__duttom1 {
  padding-top: 38px;
  background-color: #242424;
  border-top: 1px solid #000;
  padding-bottom: 12px;
}

.footer__submit input[type="submit"] {
  background: url(../img/Send.png) no-repeat -1px 4px;
  background-size: 92% 91%;
  border: none;
  width: 47px;
  height: 39px;
  cursor: pointer;
  left: -2px;
  position: relative;
}
.footer__submit input[type="text"] {
  background-color: #2e2e2e;
  width: 251px;
  height: 36px;
  border-radius: 0;
  font-size: 12px;
  font-family: "Aller";
  color: rgb(125, 125, 125);
  font-style: italic;
  line-height: 1.5;
  text-align: justify;
  top: -14px;
  position: relative;
}
.footer__submit {
  top: -13px;
  position: relative;
  left: 33px;
}
.footer__submitinput[type="text"]:focus,
.footer__submit input[type="text"]:hover,
.footer__submit input[type="text"]:active {
  background-color: #2e2e2e !important;
}


/* social*/
.footer__1__imag {
  list-style-type: none;
  display: inline-block;
  height: 36px;
  background-color: #2e2e2e;

}
.footer__1__ul {
  left: -112px;
  position: relative;
}
li.footer__1__imag a span {
  position: relative;
  display: block;
}
.imag0 {
  left: -15px;
  position: relative;
}
span.icon {
  background: url(../img/icon.png) no-repeat  16px 8px;
  width: 41px;
  height: 36px;
}

.imag1 {
  left: -7px;
  position: relative;
}
span.icon1 {
  background: url(../img/icon1.png) no-repeat 11px;
  width: 42px;
  height: 36px;

}

.imag2 {
  position: relative;
  left: -2px;
}
span.icon2 {
  background: url(../img/icon2.png) no-repeat 12px;
  width: 44px;
  height: 36px;
}

.imag3 {
  position: relative;
  left: 4px;
}
span.icon3 {
  background: url(../img/icon3.png) no-repeat 11px 7px;
  width: 42px;
  height: 36px;
}

.imag4 {
  position: relative;
  left: 10px;
}
span.icon4 {
  background: url(../img/icon4.png) no-repeat 11px;
  width: 42px;
  height: 36px;
}
/* --------------------------FOOTER2*/
.footer__buttom {
  background-color: #2e2e2e;
  padding-top: 22px;
  padding-bottom: 27px;
}
.footer__buttom p {
  font-size: 12px;
  font-family: "Aller";
  color: rgba(255, 255, 255, 0.502);
  line-height: 0.88;
  text-align: left;
  letter-spacing: 1.6px;
  left: -1px;
  position: relative;
  top: 4px;
}
/* main */
.footer__ul {
  position: relative;
  left: 80px;
  top: 8px;
}
.footer__item {
  list-style-type: none;
  display: inline-block;
}
li.footer__item:after {
  content: "/";
  color: #979797;
}
li.footer__item:nth-child(5):after {
  content: "";
}
.footer__link {
  font-size: 12px;
  font-family: "Aller";
  color: rgba(255, 255, 255, 0.502);
  line-height: 2.083;
  text-align: right;
  letter-spacing: 1.8px;
  -webkit-text-stroke: 0.5px;
  transition: all 0.3s ease-in-out;
}
a.footer__link:hover {
  color: rgb(87, 197, 160);
  text-decoration: none;
}
